@font-face {
    font-family: 'Acumin Pro';
    src: url('../fonts/Acumin Pro.eot');
    src: url('../fonts/Acumin Pro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Acumin Pro.woff2') format('woff2'),
        url('../fonts/Acumin Pro.woff') format('woff'),
        url('../fonts/Acumin Pro.ttf') format('truetype'),
        url('../fonts/Acumin Pro.svg#Poppins-Medium') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}